# Dependency directories
node_modules

# Build output
dist

# VCS and editor files
.git
.gitignore
.vscode

# Logs and local env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.*

# TypeScript cache files
*.tsbuildinfo
